<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
    <style>
        .square1 {
            background-color: {{ color1 }};
        }

        .square2 {
            background-color: {{ color2 }};
        }
    </style>
</head>
<body>
    <div id=header>
        <h1 style="background-color:{{ color1 }}; color: {{ color2 }}">***Checkerboard***</h1>
    </div>
    <div id=container>
        <table>
            {% for x in range(rows) %}
                <tr>
                {% for y in range(columns) %}
                            <td>
                                <div class=square{{ (x+y)%2+1 }}></div>
                            </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>